@page
@model WebApplication.Pages.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<div class = "signin_container_all">
    <div class="signin_container" id="signin">
        <!-- Create a sign in form with email, password and button -->
        <form action="signin.aspx" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign In</button>
            <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
        </form>
        <!-- Create some social media icons to sign in with -->
        <div class="social">
            <img src="facebook.png" alt="Facebook" onclick="signInWithFacebook()">
            <img src="twitter.png" alt="Twitter" onclick="signInWithTwitter()">
            <img src="google.png" alt="Google" onclick="signInWithGoogle()">
        </div>
    </div>
</div>
