<div class="filter-box">
  <input type="text" id="searchInput" placeholder="Search for languages...">
  <table id="languages">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Paradigm</th>
    </tr>
    <tr>
      <td>Python</td>
      <td>Interpreted</td>
      <td>Multi-paradigm</td>
    </tr>
    <tr>
      <td>Java</td>
      <td>Compiled</td>
      <td>Object-oriented</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Compiled</td>
      <td>Imperative</td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>Interpreted</td>
      <td>Scripting</td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Interpreted</td>
      <td>Object-oriented</td>
    </tr>
  </table>
</div>
