@page
@{
    ViewData["Title"] = "Home page";
}
@{
    int numberCard = 72;
    string[] images = new string[] {
        "https://i.pinimg.com/564x/c7/bd/16/c7bd16fd4a262efbd877c2fc13d46970.jpg",
        "https://i.pinimg.com/564x/3c/a8/a0/3ca8a086748918b6bf4f7bfdde35fc6b.jpg",
        "https://i.pinimg.com/564x/04/d8/0c/04d80c2668f063e1d81678255cc183ca.jpg",
        "https://i.pinimg.com/564x/1a/2d/0d/1a2d0d2d903dddd8ef392ed1360e076c.jpg",
        "https://i.pinimg.com/736x/36/d9/2f/36d92f0a795b012adadaad78302015c0.jpg",
        "https://i.pinimg.com/564x/d3/6b/41/d36b4122bc952809f5930d0e8b26cfb2.jpg"
    };
}


<div class="container">
    @{
        for(int i = 1 ; i <= numberCard; i++){
            int index = i % images.Length;
            <div class="card" id="card">
                <img src=@images[index] alt="Image 1">
                <h3>Card @i</h3>
                <p>This is some text for card @i. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="/">Read More</a>
            </div>
        }
    }
    </div>
